body {
  background-image: url("img/stars.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.2rem;
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.hidden {
  visibility: hidden;
  display: none;
}

#weather-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#search {
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
}

#search::placeholder {
  color: #fff;
}

.error-message {
  margin-right: 1.6rem;
  margin-top: 0.2rem;
  font-size: 1rem;
  color: rgb(255, 0, 0);
}

.main-container {
  height: 100%;
  position: relative;
}

.weather-section {
  position: absolute;
  left: 10%;
  top: 20%;
  color: #fff;
}

.condition {
  font-size: 1.2rem;
}

.city {
  font-size: 2rem;
  text-transform: uppercase;
}

.weather-general--container {
  display: flex;
  gap: 2.6rem;
  align-items: center;
}

.weather-general--container > h1 {
  margin: 0;
  font-size: 6rem;
  border-right: 2px solid #ffffff81;
  padding-right: 2rem;
}

.weather-info--container > h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 300;
}

.toggle-temperature {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toggle-temperature > h4 {
  font-size: 1.1rem;
  font-weight: 300;
}

.fa-toggle-on,
.fa-toggle-off {
  font-size: 1.6rem;
  cursor: pointer;
}

/* RESPONSIVE */
@media only screen and (max-width: 900px) {
  #weather-form {
    align-items: center;
  }

  .weather-section {
    left: 30%;
  }

  input#search {
    width: 35vw;
  }

  .condition {
    font-size: 1rem;
  }

  .city {
    font-size: 1.6rem;
  }

  .weather-general--container {
    gap: 1rem;
  }

  .weather-general--container > h1 {
    font-size: 3rem;
    border-right: 2px solid #ffffff81;
  }

  .weather-info--container > h3 {
    font-size: 0.9rem;
  }

  .toggle-temperature > h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .weather-section {
    top: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .city {
    font-size: 1.2rem;
  }

  .weather-general--container {
    flex-direction: column;
  }

  .weather-general--container > h1 {
    padding: 0;
    border: none;
    font-size: 2.4rem;
    border-bottom: 2px solid #ffffff81;
    padding-bottom: 0.8rem;
  }

  .weather-info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 475px) {
  .weather-section {
    left: 25%;
  }

  .city {
    font-size: 0.8rem;
  }

  .condition {
    font-size: 0.8rem;
  }

  .temp {
    font-size: 2rem;
  }

  .weather-info--container > h3 {
    font-size: 0.8rem;
  }

  .toggle-temperature > h4 {
    font-size: 0.8rem;
  }

  .fa-toggle-on,
  .fa-toggle-off {
    font-size: 1.2rem;
  }
}
